/url/cache
/.emacs.desktop
/auto-save-list
/.session
/session.*
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/ac-comphist.dat
\#*
/auto-save-list
/backups
/elpa
/history
/ede-projects.el
/eshell
/semanticdb